In [1]:
# logical operator

In [2]:
5==5 and 4==4

True

In [3]:
5==5 or 5==3

True

In [4]:
#assign with incrememnt

In [5]:
a =10

In [6]:
a=10+1

In [7]:
a

11

In [8]:
b = 1

In [9]:
b+=1

In [10]:
b

2

In [11]:
b-=2

In [12]:
b

0

In [13]:
#print function

In [14]:
a = "welcome to dream with data"

In [15]:
a

'welcome to dream with data'

In [16]:
b = "harsh"

In [17]:
print("welcome",b)

welcome harsh

In [18]:
c =24

In [19]:
c=("my name is ",b,"and my age is",c)

In [20]:
print(c)

('my name is ', 'harsh', 'and my age is', 24)

In [21]:
print(f my name is {b} and my age is {c})

SyntaxError: invalid syntax. Perhaps you forgot a comma? (ipython-input-777482325.py, line 1)

In [22]:
#tyope casting

In [23]:
list = [1,2,3,4]

In [24]:
tuple = list

In [25]:
list

[1, 2, 3, 4]

In [26]:
#easy iteration(one by one can access)

In [27]:
#empty list

In [28]:
a = [ ]

In [29]:
#hetrogeneous

In [30]:
b = [6,4.9,True,False,"banana,none"]

In [31]:
fruits = ["apple", "banana", "cherry","mango"]

In [32]:
#nested list

In [33]:
nested = [1,2], []

In [34]:
fruits = ["apple", "banana", "cherry","mango"]

In [35]:
fruits[0]

'apple'

In [36]:
#slicing

In [37]:
fruits[0:3]

['apple', 'banana', 'cherry']

In [38]:
fruits[:]

['apple', 'banana', 'cherry', 'mango']

In [39]:
#methods- (variable.method())

In [40]:
# .append() -#add element at last

In [41]:
fruits.append("banana")

In [42]:
fruits

['apple', 'banana', 'cherry', 'mango', 'banana']

In [43]:
#.extend() - add more than one element another list

In [44]:
fruits.extend([4,5,6])

In [45]:
fruits

['apple', 'banana', 'cherry', 'mango', 'banana', 4, 5, 6]

In [46]:
#.insert - insert in perticular location

In [47]:
fruits.insert(0,"kiwi")

In [48]:
#pop() -  remove with index position

In [49]:
fruits.pop(1)

'apple'

In [50]:
fruits.pop()

6

In [51]:
#fruits.clear()

In [52]:
#.index

In [53]:
lst= [10,20,20,40,50,59,59,60]

In [54]:
lst.index(50)

4

In [55]:
lst.count(59)

2

In [56]:
lst.sort()

In [57]:
lst.reverse()

In [58]:
lst

[60, 59, 59, 50, 40, 20, 20, 10]

In [59]:
len(lst)

8

In [60]:
max(lst)

60

In [61]:
min(lst)

10

In [62]:
sum(lst)

318

In [63]:
#tuple

In [64]:
a = (2,5.6,True,False,"hello")

In [65]:
type(a)

tuple

In [66]:
a = tuple([4,5,6,7,8,9]) #constructer

TypeError: 'list' object is not callable

In [ ]:
b = (4,5,6,8,2,3,4,4,5,7,)

In [ ]:
b[7]

In [ ]:
b[0:5]

In [ ]:
b[2:6]

In [ ]:
#methods .methodname

In [ ]:
b.index(4)

In [ ]:
a.count(4)

In [ ]:
a.count(5)

In [ ]:
#funtion

In [ ]:
len(a)

In [ ]:
len(b)

In [ ]:
sum(b)

In [ ]:
sorted(a)

In [67]:
asort

NameError: name 'asort' is not defined

In [68]:
list(a)

TypeError: 'list' object is not callable

In [ ]:
list(a).reverse()

In [ ]:
#set - {}
#unordered
#mutable
#unique value-no duplicate #automatically sorting the element

In [ ]:
a= {}

In [ ]:
type(a)

In [ ]:
a = set()

In [ ]:
type(a)

In [ ]:
a = {5,3,3,65,7,3,5,3,}

In [ ]:
print(a)

In [ ]:
a.add(10) # .add add the one element

In [ ]:
a

In [ ]:
a.update([11,12,13])

In [ ]:
a.remove(11)

In [ ]:
a

In [ ]:
a.discard(15)

In [69]:
a.pop()

AttributeError: 'tuple' object has no attribute 'pop'

In [ ]:
#dictionary in python
#mutable
#key must be unique

In [ ]:
a = {}

In [ ]:
type(a)

In [ ]:
a = {"name":"harsh",
     "age":22,
     "city":"seloo"}

In [ ]:
a["age"]

In [ ]:
a['city']

In [ ]:
a['city'] = "nagpur"

In [ ]:
a

In [ ]:
a["gender"] = "male"

In [ ]:
a

In [ ]:
a.keys()

In [ ]:
a.values()

In [ ]:
#loops -  for loop
#when we have range -# we have start and end also
#in - is akey word
#space means indentation

In [ ]:
fruits = ["apple","banana","cherry","kiwi"]

In [ ]:
for i in fruits:
  print(i)

In [70]:
for i in range(0,11):
  print(i)

0
1
2
3
4
5
6
7
8
9
10

In [71]:
total=0
for i in range(1,101):
  total=total+i
print(total)

5050

In [72]:
num  = 5
for i in range(1,11):
  print(num,"x",i,"=",num*i)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [73]:
for num in range(5,8):
  for i in range(1,11):
    print(f"{num}*{i}={num*i}")
print("---------------------")

5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50
6*1=6
6*2=12
6*3=18
6*4=24
6*5=30
6*6=36
6*7=42
6*8=48
6*9=54
6*10=60
7*1=7
7*2=14
7*3=21
7*4=28
7*5=35
7*6=42
7*7=49
7*8=56
7*9=63
7*10=70
---------------------

In [74]:
for i in range(0,11):
  print(i,"please practice kara")

0 please practice kara
1 please practice kara
2 please practice kara
3 please practice kara
4 please practice kara
5 please practice kara
6 please practice kara
7 please practice kara
8 please practice kara
9 please practice kara
10 please practice kara

In [75]:
count = 1
for i in range(1,101):
  count=count+i

In [76]:
for i in range(1,100):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [77]:
fruits = ["kiwi,apple,pineapple"]

In [78]:
for i in fruits:
  print(i)

kiwi,apple,pineapple

In [79]:
num = 5
for i in range(1, 11):
  print(f"{num} x {i} = {num*i}")

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [80]:
num = 5
for i in range(1,11):
  print(f"{num} x {i} = {num*i}")

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [81]:
num = 6
for i in range(1,11):
  print(f"{num} x {i}= {num*i}")

6 x 1= 6
6 x 2= 12
6 x 3= 18
6 x 4= 24
6 x 5= 30
6 x 6= 36
6 x 7= 42
6 x 8= 48
6 x 9= 54
6 x 10= 60

In [82]:
take = [10,20,30]

In [83]:
for i in take:
  print(i)

10
20
30

In [84]:
num = 6
for i in range(1,11):
   print(f"{num} x {i}= {num*i}")

6 x 1= 6
6 x 2= 12
6 x 3= 18
6 x 4= 24
6 x 5= 30
6 x 6= 36
6 x 7= 42
6 x 8= 48
6 x 9= 54
6 x 10= 60

In [85]:
num = 7
for i in range(1,11):
  print(f"{num} x {i}= {num*i}")

7 x 1= 7
7 x 2= 14
7 x 3= 21
7 x 4= 28
7 x 5= 35
7 x 6= 42
7 x 7= 49
7 x 8= 56
7 x 9= 63
7 x 10= 70

In [86]:
#while loop

In [87]:
i = 1
while i <=5:
  print(i)
  i +=1

1
2
3
4
5

In [88]:
i = 1
total = 0
while i <=10:
  total = total + 1
  i+=1

In [94]:

for i in range(1,5):
  squares_list.append(i**2)
  print(squares_list)

[1, 4, 9, 16, 25, 36, 1, 4, 9, 16, 1]
[1, 4, 9, 16, 25, 36, 1, 4, 9, 16, 1, 4]
[1, 4, 9, 16, 25, 36, 1, 4, 9, 16, 1, 4, 9]
[1, 4, 9, 16, 25, 36, 1, 4, 9, 16, 1, 4, 9, 16]

In [97]:
list = []
for i range(1,6):
  list.append(i**2)

print(list)

SyntaxError: invalid syntax (ipython-input-736439231.py, line 2)

In [99]:
sq = {i**2 for i in range(1,6)}
print(sq)

{1, 4, 9, 16, 25}

In [100]:
age = 22
if age >=18:
  print("you are eligible to vote")
else:
  print("you are not eligible to vote")

you are eligible to vote

In [102]:
age = int(input("enter your age"))
if age >=18:
  print("you are eligible to vote")
else:
  print("you are not eligible to vote")

enter your age22
you are eligible to vote

In [104]:
my_password = 789456
my_username ="pratiksha"
user = str(input("enter your username"))
password = int(input("enter your password"))

if user == my_username and password == my_password:
  print("login successfull")
else:
  print("invalid username or password")

enter your usernamepratiksha
enter your password789456
login successfull

In [106]:
num =int(input("enter a number:- "))
while num != 0:
  if num >=0:
    print("positive")
  else:
    print("negative")
  num = int(input("enter a number:- "))

enter a number:- 2
positive
enter a number:- 0